html, body {
    margin: 0px;
    background-color: green;
    color:whitesmoke;   
    
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
      
}

.titulo{
    text-align: center;
    background-color: black;    /* color de fondo*/
    color: chartreuse;      /* color texto*/
    padding: 20px;
    font-size: 25px;
}
.carta{
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}
#computadora-cartas, #jugador-cartas{
    height: 240px;
}